body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.tile-grid {
  display: block;
  top: 150px;
  height: 128px;
  position: absolute;
  width: 384px;
}

.tile-square {
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 128px;
  line-height: 128px;
  position: absolute;
  text-align: center;

  width: 128px;
  border-style: solid;
  border-width: 5px;
  border-color: brown;
  box-sizing: border-box;
}

.score-display{
  position: absolute;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 24px;
  background-color: darkslategray;
  width: 160px;
  top: 50px;
  left: 10px;
  text-align: center;
}

.moves-display{
  position: absolute;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 24px;
  background-color: darkslategray;
  width: 160px;
  top: 50px;
  left: 180px;
  text-align: center;
}

.timer-display{
  position: absolute;
  height: 80px;
  line-height: 15px;
  color: white;
  font-size: 18px;
  background-color: darkslategray;
  width: 160px;
  top: 50px;
  left: 350px;
  text-align: center;
}
